body{
    width : 1000px;
    margin : auto;
    background-image : url('../img/Background/carreBleu.jpg');
    background-repeat : repeat-x;
}

.pageTop{
    display : flex;
    justify-content: space-between;
    margin-top : 150px;

}



h1, h2{
    color: #0d81aa;
}

.blocks{
    display : flex;
    justify-content: space-between;
}


.portrait{
    
}

img{
    height : 160px;
    
}

